
.collection2{
    margin-top: 184px;
    padding: 0;
}

.collection2__list{
    display: flex;
    align-items: center;
    // justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.collection2__list-item{

}

.collection2__item-img{
    display: block;
}